{% extends "base.html.twig" %}

{% block title %}Hello MjController!{% endblock %}

{% block body %}
<section class="page-section clearfix">
    <div class="card-body"></div>
    <div class="container admin">
        <div class="card">
            <div class="card-body">

                <h2><strong>Bienvenue!:</strong></h2>

                <a href="/form" class="btn btn-primary float-right">Commencer</a>

            </div>
        </div>
    </div>
</section>
{% endblock %}
